// Centre Nav

nav
  &.one
    display none
    ul
      list-style-type none
      text-align center
      li
        display inline
        margin-right 1.5rem
        font-family body-font
        vertical-align middle
        font-size 1rem
        color brand
        
        &.logo
          display inline-block
          text-align center
          max-width 260px
          margin-right 2rem
          margin-left 0.5rem
          img
            width 100%
        
        &:last-of-type
          margin-right 0
          
.logo-section
  padding-bottom 0.8rem
  // width 88%
  margin 0 auto
  // border-bottom 1px solid light-grey
  padding-left 0.15rem
  padding-right 0.15rem
  
  .logo
    // display none
    display inline-block
    max-width 180px
    img
      width 100%
  
  .right
    float right
    position relative
    top 20px
    
    ul
      list-style-type none
      li
        text-align right
        font-family title-font
        font-size 1.15rem
        margin-bottom 0.1rem
        color brand
    
nav
  &.two
    display none
    clearfix()
    float right
    position relative
    top 38px
    ul
      list-style-type none
      float right
      display none
      li
        // display inline
        margin-right 1.5rem
        font-family body-font
        vertical-align middle
        font-size 1rem
        color brand
        
nav.three
  width 100%
  // background-color brand
  padding 0.65rem 0
  border-top 1px solid light-grey
  ul
    list-style-type none
    text-align center
    li
      display inline
      font-family body-font
      
      // text-transform uppercase
      // font-weight 500
      font-size 0.925rem
      color brand
      letter-spacing 0.15px
      text-align center
      margin-right 5.8%
      

nav.four
  padding 1rem 0
  float right
  position relative
  top -8px
  
  ul
    list-style-type none
    li
      display inline
      margin-right 1rem
      color brand
      font-size 0.95rem
      margin-right 10%
      &:after
        margin-right none
      
      
      &:last-of-type
        margin-right 0
        
      ul.sublist
        width 100%
        background-color brand
        position absolute
        top 62px
        text-align center
        padding 1rem 0
        
        li
          
          color white
          margin-right 2rem
          
          &:last-of-type
            margin-right 0
          