// Nav 01

// header
//   background-color #34383C
//   width 100%
//   border 1px dashed
//   padding 1rem 0 0
//   clearfix()
  
//   .logo
//     margin 0 auto
//     text-align center
//     width 185px
//     margin-bottom 1rem
//     position relative
//     top 10px
//     img
//       width 100%
  
//   nav
//     background-color white
//     width 900px
//     padding 0.85rem 0
//     margin 0 auto
//     position relative
//     top 20px
//     box-shadow 0 2px 5px 0 rgba(0,0,0,0.2)
//     border-radius 0.15px
//     color brand
//     ul
//       list-style-type none
//       text-align center
//       li
//         display inline
//         font-size 1rem
//         vertical-align middle
        
//         &.divide
//           width 1px
//           height 15px
//           background-color rgba(0, 0, 0, 0.1)
//           display inline-block
//           margin 0 1.5rem

// Nav 02

header
  width 100%
  padding 1rem 0 0
  clearfix()
  
  .logo
    margin 0 auto
    text-align center
    width 185px
    margin-bottom 1rem
    img
      width 100%
      
  nav
    margin 0 auto
    max-width 780px
    border-top 1px solid brand
    padding 1rem 0
    ul
      list-style-type none
      text-align center
      li
        display inline
        color brand
        font-size 1rem
        position relative
        
        &.divide
          width 1px
          height 15px
          background-color rgba(0, 0, 0, 0.1)
          display inline-block
          margin 0 1.5rem
          
// Section

section
  // background url('../img/pattern-block.png')
  // background-repeat repeat
  border 1px dashed
  padding 2rem 0 2.5rem
  
  h3
    margin 0 auto
    text-align center
    padding 2.85rem
    
  .copy-col
    column-count 3
    width 70%
    margin 0 auto
    
    p
      font-size 1rem
      margin-right 1rem
      
      &:last-of-type
        margin-right 0
        
.image-section
  background-image url('../img/hero.jpg')
  background-repeat no-repeat
  height 500px
  width 100%
