nav
  float right
    
  ul
    list-style-type none
    // position relative
    // top 0.65rem
    
    li
      display inline
      margin-right 2rem
      font-size 0.95rem
      &:last-of-type
        margin-right 0
        
      .dropdown
        position absolute
        left 0
        width 100%
        background #00304C
        top 4.95rem
        padding 0.35rem 0
        
  ul.sublist
    list-style-type none
    margin 0 auto
    text-align center
    color white
    position static
    li
      text-align center
      margin-right 1rem 0
      color white
      padding 1rem 0
      
nav ul li.active > dropdown
  display block
  