// Fonts
title-font = "freight-big-pro", serif
body-font = "Tenor Sans", sans-serif
sans-font = "Poppins", sans-serif

// Colours
brand = #00304C
cream = #FAF8EC
body-copy = #575757
grey = #7A7A7A
light-grey = #d9d5d5   //#CACACA
gold = #C8AC82